@import '../../../styles.scss';
header{
    height: 100px;
    background-color:$app-header;

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.15);
}

@media(min-width: 768px) {
    header {
        width: 100%;
    }
}

@media(max-width: 767px) {
    header {
        width: 100%;
    }
}

header > img {
    max-height: 80%;
}