@import '../../../styles.scss';
$card-header: #f6f6f6;
$card-background: #ffffff;
$button-background: #f4f4f4;

@media(max-width: 540px) {
    div.card {
        width: 350px;
        margin: 30px;
    }
}

@media(min-width: 768px) {
    div.card {
        width: 430px;
        height: 430px;
        margin: 10px;
    }
}

div.card {

    border-radius: 10px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.15);
    background-color: $card-background;
}

div.card > header.card-header {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $card-header;
    border-radius: 10px 10px 0 0;
}

header > h3.currency-name {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: $text-secondary;
}

div.card > main.card-body {
    width: 100%;
    height: 200px;
    border-bottom: 1px solid #cfcfcf;
    display: flex;
    justify-content: center;
    align-items: center;
}


main.card-body > h2 {
    font-size: 64px;
    text-align: center;
}

main.error {
    flex-direction: column;
    border: none !important;
}

main.loading {
    border: none !important;
}

main.error > span {
    font-size: 26px;
    color: $text-basic;
}

main.error > button.reload {
    width: 173px;
    height: 58px;
    background-color: $card-header;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    color: $text-basic;
}

div.card > footer.card-footer {
    display: flex;
    width: 100%;
    height: 110px;
    flex-direction: row;
}

footer.card-footer > section {
    flex-direction: column;
    width: 50%;
}

section {
    display: flex;
    justify-content: center;
}

section.fluctuation {
    border-right: 1px solid #cfcfcf;
}

section > div {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section > div > span {
    font-weight: 600;
    color: $text-secondary;
}

section > div > span:last-child {
    color: $text-basic;
}