main.container {
    
    display: flex;
}

@media (min-width: 768px) {
    main.container {
        margin-top: 25dvh;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 10dvw 0 10dvw;
    }
}

@media (max-width:576px) {
    main.container {
        margin-top: 20dvh;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 10px 0 10px;
    }
}