/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
$font-family-primary: 'Poppins', sans-serif;
$font-family-secondary: Arial, sans-serif;
$app-background: #EEEEEE;
$app-header: #FFFFFF;
$text-basic: #717171;
$text-secondary: #919191;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-family-primary;
    background-color: $app-background;
}
